  <% @user= User.new %>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nouvelle Tache</h4>
        </div>
        <div class="modal-body" id="new-task-div"> 
            <!-- A METTRE AUTRE PART OMG DANS LA VUE DEGEUUUU -->
           <% @task = Task.new %>
           <%= render :partial => "/tasks/new" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nouvelle Utilisateur</h4>
        </div>
        <div class="modal-body" id="new-user-div">
            <!-- A METTRE AUTRE PART OMG DANS LA VUE DEGEUUUU -->
            <%= render :partial => "/users/new" , :locals => {:admin => false }%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nouvelle Administrateur</h4>
        </div>
        <div class="modal-body" id="new-user-div">
            <!-- A METTRE AUTRE PART OMG DANS LA VUE DEGEUUUU -->
           <%= render :partial => "/users/new" , :locals => {:admin => true }%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>






  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Editer Utilisateur</h4>
        </div>
        <div class="modal-body" id="edit-user-div">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

