 


 <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      Personnes Enregistrées
    </div>

    <!-- Table -->
    <table class="table">
      <thead>
      <tr>
        <th>Nom </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each_with_index do |user, index| %>
          <tr >
            <td><%= user.name %></td>
            <td>
             <span class="btn btn-success btn-xs start-conversation" data-sid ="<%=current_user.id %>" data-rip="<%=user.id %>">Envoyer un message</span>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>



  </div>